@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-3">
        <h2>Добро пожаловать!</h2>
        <ul>
            <li>Вы находитесь в админской панели сайта-гостиницы "Арбат"</li>
            <li>Чтобы продолжить работу - <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Войдите в систему</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Учет клиентов</h2>
        <ul>
            <li><a href="~/Users/Create">Создать нового клиента</a></li>
            <li><a href="~/Users/Index">Редактировать данные клиента</a></li>
            <li><a href="~/Users/Index">Удалить клиента</a></li>
            <li><a href="~/Users/Index">Просмотреть список клиентов</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Учет комнат</h2>
        <ul>
            <li><a href="~/Rooms/Create">Создать новый номер</a></li>
            <li><a href="~/Rooms/Index">Редактировать номер</a></li>
            <li><a href="~/Rooms/Index">Просмотреть список номеров</a></li>
            <li><a href="~/RoomTypes/Create">Создать новый тип номера</a></li>
            <li><a href="~/RoomTypes/Index">Просмотреть список типов номеров</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Учет заказов и услуг</h2>
        <ul>
            <li><a href="~/Bookings/Create">Создать новый заказ</a></li>
            <li><a href="~/Bookings/Index">Редактировать заказ</a></li>
            <li><a href="~/Bookings/Index">Просмотреть список заказов</a></li>
            <li><a href="~/ServiceLists/Create">Создать новую услугу</a></li>
            <li><a href="~/ServiceLists/Index">Просмотреть список услуг</a></li>
        </ul>
    </div>
</div>
