@model TheHotelApp.Models.Room

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Номер номера</label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomTypeID" class="col-sm-2 control-label form-label">Вид номера</label>
                <select asp-for="RoomTypeID" class="col-sm-9" asp-items="ViewBag.RoomTypeID"></select>
                <span asp-validation-for="RoomTypeID" class="text-danger col-sm-9"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Расположение</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться на главную страницу</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
